@use "components/button";
@use "mixins";
@use "mixins/patterns";
@use "variables/fonts";

.start-layout {
  display: grid;

  grid:
    ". . ." 2rem
    "settings . ." 5rem
    ". title   ." 1fr
    ". buttons ." 1fr
    / 1fr 6fr 1fr;

  align-items: center;
  justify-items: center;

  height: 100%;

  &__background {
    @include mixins.background;
    @include patterns.seigaiha;
  }

  &__settings {
    grid-area: settings;

    font-size: 3rem;
  }

  &__title {
    grid-area: title;

    margin: 0;

    font-size: 20rem;
    font-family: fonts.$title;

    user-select: none;
  }

  &__buttons {
    grid-area: buttons;

    width: 100%;
  }
}
