@use "components/button";
@use "mixins";
@use "mixins/patterns";
@use "variables/fonts";

.start-layout {
  display: grid;

  grid:
    ".    title   .       " auto
    ".    buttons .       " 5rem
    ".    .       settings" 5rem
    / 1fr 4fr 1fr;

  align-items: center;
  justify-items: center;

  height: 100%;

  &__background {
    @include mixins.background;
    @include patterns.seigaiha;
  }

  &__title {
    grid-area: title;

    margin: 0;

    font-size: 10rem;
    font-family: fonts.$title;

    user-select: none;
  }

  &__buttons {
    grid-area: buttons;
    align-self: start;

    width: 100%;
  }

  &__settings {
    grid-area: settings;
  }
}
