body {
  display: flex;

  align-items: center;
  justify-content: center;

  height: 100vh;

  margin: 0;
}

.background-blur {
  filter: blur(0.3rem);
}

.layout_circle {
  position: relative;
}

.layout_circle > * {
  position: absolute;

  width: min-content;

  transform: var(--base-transform);
  transform-origin: bottom center;
}

.insetable {
  padding-top: 5rem;

  transition: padding-bottom 250ms ease-out;
}

.insetable:hover {
  padding-bottom: 5rem;
}

.card-red {
  --card-color: red;
}
.card-blue {
  --card-color: blue;
}
.card-yellow {
  --card-color: yellow;
}
.card-green {
  --card-color: green;
}

.card {
  position: relative;

  display: flex;

  align-items: center;
  justify-content: center;

  height: 15rem;
  width: 11rem;

  border: 0.75rem inset var(--card-color, #fff);
  border-radius: 2rem;

  background-color: rgb(30, 30, 30);
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 35px,
    rgba(33, 33, 33, 0.5) 35px,
    rgba(33, 33, 33, 0.5) 70px
  );
}

.card-number {
  color: var(--card-color, #fff);

  font-family: sans-serif;
  font-size: 1.7rem;
  font-weight: 900;

  user-select: none;

  --inset-value: 1rem;
}

.card-number.center {
  font-size: 3.5rem;
}
.card-number.top-left {
  position: absolute;

  left: var(--inset-value);
  top: var(--inset-value);
}
.card-number.bottom-right {
  position: absolute;

  bottom: var(--inset-value);
  right: var(--inset-value);
}

.hand {
  height: 30rem;
  width: 50rem;
}

.hand > * {
  left: 50%;
  top: 24rem;
}
