.hand {
  height: 22rem;
  width: 50rem;

  margin-bottom: -12rem;

  align-self: end;

  transition: margin-bottom 0.5s ease-out;

  &:hover {
    margin-bottom: 0;
  }
}

.hand > .layout__circle {
  --circle-radius: 0.5rem;

  left: 50%;
  top: 17rem;
}
