.pile {
  @include card-size;

  position: relative;

  transform-style: preserve-3d;
}

.pile__item > * {
  position: absolute;

  --offset: calc(var(--child-index) * 0.1rem);

  transform: translate(var(--offset), var(--offset));

  &:first-child {
    box-shadow: var(--offset) var(--offset) 0.5rem
      rgba($color: #000, $alpha: 0.6);
  }
}
