@import "../mixins/patterns/upholstry";

.table {
  display: grid;

  grid:
    ".  piles   . " 15rem
    ".  hand    . " auto
    / 1fr 4fr 1fr;

  justify-items: center;

  height: 100%;
  width: 100%;

  &::after {
    @include upholstery;

    content: "";

    position: absolute;

    top: 0;

    height: 100%;
    width: 100%;

    opacity: 0.5;

    z-index: -1;
  }

  & > .hand {
    grid-area: hand;

    z-index: 1;
  }

  & > .piles {
    grid-area: piles;

    justify-self: stretch;

    display: flex;
    justify-content: space-evenly;

    gap: 1rem;
  }
}
