@use "variables/colors";
@use "variables/fonts";

@use "icons";

body {
  position: fixed;

  height: 100vh;
  width: 100vw;

  margin: 0;

  perspective: 1000px;

  overflow: hidden;

  background: colors.$background;
  color: colors.$text;
  font-family: fonts.$text;

  touch-action: none;
}
